@import "assets/variables.less";

.MultipleLogoBanner {
  max-width: 100%;
  padding: 1em;
  max-height: 15em;
  height: 4em;

  &__flex_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    & .MultipleLogoBanner__image_wrapper {
      height: 50%;
      width: 13%;
      margin: 0 .5em;
      align-self: center;

      & img {
        height: 100%;
        width: 100%;
      }
    }
  }

  & .MultipleLogoBanner__companies {
    background: @light-grey;

    & .MultipleLogoBanner__image_wrapper {
      height: 4em;
      max-height: 70%;
      width: 20%;
      align-self: center;
      & img {
        border-radius: 10px;
      }
    }
  }
}