@import "../assets/variables.less";

.threecards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
  & .card__wrapper {
    width: 28%;
    height: 11em;
    margin: 2em;
  }
}
